#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.changelog,
.todo {
  text-align: left;
}

.title {
  font-weight: bold;
}

.unit {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .title {
    background-color: #373737;
    border-top-style: solid;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-width: 4px;

    border-top-color: white;
    border-bottom-color: white;

    font-size: 1.1em;

    @media (prefers-color-scheme: light) {
      background-color: #ececec;
      border-top-color: rgb(0, 0, 0);
      border-bottom-color: black;
    }
  }

  .name {
    grid-area: 1 / 1 / 2 / 6;
    font-size: 1.5em;
  }
  div {
    padding: 0.5vw;
  }
  .cost.title {
    grid-area: 2 / 1 / 3 / 2;
  }
  .cost.value {
    grid-area: 3 / 1 / 4 / 2;
  }
  .size.title {
    grid-area: 2 / 2 / 3 / 3;
  }
  .size.value {
    grid-area: 3 / 2 / 4 / 3;
  }
  .discipline.title {
    grid-area: 2 / 3 / 3 / 4;
  }
  .discipline.value {
    grid-area: 3 / 3 / 4 / 4;
  }
  .optics.title {
    grid-area: 2 / 4 / 3 / 5;
  }
  .optics.value {
    grid-area: 3 / 4 / 4 / 5;
  }
  .optics.value::after,
  .movement.value::after {
    content: '"';
  }
  .movement.title {
    grid-area: 2 / 5 / 3 / 6;
  }
  .movement.value {
    grid-area: 3 / 5 / 4 / 6;
  }

  .morale.title {
    grid-area: 4 / 1 / 5 / 2;
  }
  .morale.value {
    grid-area: 5 / 1 / 6 / 2;
  }
  .armour.title {
    grid-area: 4 / 2 / 5 / 3;
  }
  .armour.value {
    grid-area: 5 / 2 / 6 / 3;
  }
  .hullpoints.title {
    grid-area: 4 / 3 / 5 / 4;
  }
  .hullpoints.value {
    grid-area: 5 / 3 / 6 / 4;
  }
  .special.title {
    grid-area: 4 / 4 / 5 / 6;
  }
  .special.value {
    grid-area: 5 / 4 / 6 / 6;
  }

  .weapons {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0;

    .weapon.title {
      grid-area: 1 / 1 / 1 / 2;
    }
    .rating.title {
      grid-area: 1 / 2 / 1 / 3;
    }
    .mount.title {
      grid-area: 1 / 3 / 1 / 4;
    }
    .special.title {
      grid-area: 1 / 4 / 1 / 5;
    }

    .weapons-list {
      grid-area: 2 / 1 / 3 / 5;
      list-style-type: none;
      padding: 0;
      .weapon {
        display: grid;
        .name {
          grid-area: 1 / 1 / 2 / 2;
        }
        .rating {
          grid-area: 1 / 2 / 2 / 3;
        }
        .mount {
          grid-area: 1 / 3 / 2 / 4;
        }
        .special {
          grid-area: 1 / 4 / 2 / 5;
        }
      }
    }
  }

  .modifications {
    grid-row-start: 6;
    grid-column-start: 5;
    grid-column-end: 6;
    padding: 0;
  }

  .error {
    color: crimson;
  }
}

option.error {
  color: crimson;
}

#apply-modification {
  margin-bottom: 15px;
  margin-left: 15px;
}

.button-set {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  margin-top: 50px;
}
