#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.changelog,
.todo {
  text-align: left;
}

.title {
  font-weight: bold;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.unit {

  width: 50vw;

  .unitStats {
    display:grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: repeat(5, 1fr);
  }

  .left {
    text-align: left;
  }
  
  .title {
    background-color: #373737;
    border-top-style: solid;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-width: 4px;

    border-top-color: white;
    border-bottom-color: white;

    font-size: 1.1em;

    @media (prefers-color-scheme: light) {
      background-color: #ececec;
      border-top-color: rgb(0, 0, 0);
      border-bottom-color: black;
    }
  }

  .name {
    font-size: 1.5em;
  }

  div {
    padding: 0.5vw;
  }
 
  .weapons {
    display:grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-template-columns: repeat(4, 1fr);
    padding: 0;

    .weapons-list {
      list-style-type: none;
      padding: 0;
      .weapon {
        padding:0;
      }
    }
  }

  .modifications {
    padding: 0;
  }

  .error {
    color: crimson;
  }

}

option.error {
  color: crimson;
}

#apply-modification {
  margin-bottom: 15px;
  margin-left: 15px;
}

.button-set {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  margin-top: 50px;
}